<script type="text/javascript">

$(function() {
	$('#skill-block').scrollex({
		enter: function() {

      // Set #foobar's background color to green when we scroll into it.
      $(".progress").each(function(){
		var progress = $(this).data("percent");
		$(this).children("div").animate({"width": progress + "%"}, 2000);
	});

  },
  leave: function() {

      // Reset #foobar's background color when we scroll out of it.
       $(".progress").each(function(){
		var progress = $(this).data("percent");
		$(this).children("div").animate({"width": 0 + "%"}, 0);
	});
  }

});
});


$(document).ready(function() {
	
});
</script>




<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<br>
<div class="col-md-12">
	<div class="col-md-4" id= "left-block">

		<div class="col-md-8">
			<%= image_tag("profile.JPG",  size: "150x200", :class => "img-circle") %>

		</div>
		<div class="row"  style= "margin-bottom: 30px;">
			<div class="col-md-4">
				<br>
				<h2 style = "color:boldColor font-family: 'Open Sans', sans-serif;"> Coda Chang</h2>
			</div>
		</div>

		<div class="col-md-12 basic_info" >
			<div class="row" style="margin-bottom:10px;">
				<%= image_tag("phone.png",  size: "40x40", :class => "img-circle") %>
				<i class ="basic_answer">0989630020</i>
			</div>	

			<div class="row" style="margin-bottom:10px;">
				<%= image_tag("email.png",  size: "40x40", :class => "img-circle") %>
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=fifiteen82726@gmail.com" class ="basic_answer">fifiteen82726@gmail.com </a>	
			</div>


			<div class="row" style="margin-bottom:10px;">
				<%= link_to(image_tag("github.png",  size: "40x40", :class => "social-icon"), "https://github.com/fifiteen82726") %>

				<%= link_to(image_tag("linkedin.png",  size: "40x40", :class => "social-icon"), "https://tw.linkedin.com/in/codachang") %>
			</div>
			
		</div>

		


		<div class="col-md-12">
			<h2>About me</h2>
			
			<p class = "basic_answer">
				<span class ="bold "style="color: black">My background</span>
				
				lies in applied computer science. I am especially strong in website developmen. I have created and maintained widely-used website for a while (using Ruby on Rails, ASP.NET). 
			</p>

			<p class = "basic_answer">
				<span class ="bold "style="color: black">My current goal</span>
				is to be a full stack developer and a data scientist, so I am learning the knowledge about Spark, Hadoop, Python and machine learning.
			</p>


			<p class = "basic_answer">
				<span class ="bold "style="color: black">Practically,</span>
				now, most of my time spend on solving LeetCode problems, implementing Rails futures, Python crawler and practicing Spark mllib.
			</p>

		</div>


	</div>



	<div class="col-md-7 col-md-offset-1" id ="right-block">
		<br>
		<h3 style="color: #66cc99">經歷</h3>
		

		<div class="col-xs-4">
			
			<div  class = "company_text">
				學歷
			</div>

			<div  class = "company_text">
				公司
			</div>

			<div  class = "company_text">
				職稱
			</div>

			<div  class = "time_text">
				April 2015 – June 2015(3 months)
			</div>

			
		</div>

		<div class="col-xs-8">
			<div class="company_text">
				元智資工學士
			</div>

			<div class="company_text">
				迪智國際
			</div>

			<div class="company_text">
				
				Full Stack Developer
			</div>

			<div  class = "time_text">
				Develop website by using ASP.NET, MSSQL, C#, Javascript (back-end & front-end development)
			</div>



		</div>



		<br>

		<div id= "skill-block"> 
			<h3 style="color: #66cc99">Skill</h3>

			<div  class = "company_text catogory" >
				Web
			</div>

			<ul>
				<li class="skill-name">Ruby On Rails</li>
				<div class="progress" data-percent="80">
					<div></div>
				</div>
				<li class="skill-name" >HTML / CSS  / SASS</li>
				<div class="progress" data-percent="70">
					<div></div>
				</div>
				<li class="skill-name" >Javascript / Jquery</li>
				<div class="progress" data-percent="60">
					<div></div>
				</div>
			</ul>

			<div  class = "company_text catogory" >
				Programming Language
			</div>

			<ul>
				<li class="skill-name">Python</li>
				<div class="progress" data-percent="80">
					<div></div>
				</div>
				<li class="skill-name" >Ruby</li>
				<div class="progress" data-percent="60">
					<div></div>
				</div>
				<li class="skill-name" >C/C++/C#/PHP</li>
				<div class="progress" data-percent="60">
					<div></div>
				</div>
			</ul>

			<div  class = "company_text catogory" >
				Database
			</div>
			<ul>
				<li class="skill-name" >MYSQL / PostgreSQL  / MSSQL / Redis 
				</li>

				<div class="progress" data-percent="55">
					<div></div>
				</div>

			</ul>

			<div  class = "company_text catogory" >
				Cloud Service
			</div>
			<ul>
				<li class="skill-name" >
					Heroku / Google Compute Engine  
				</li>
				<div class="progress" data-percent="50">
					<div></div>
				</div>
			</ul>


			<div  class = "company_text catogory" >
				Others
			</div>
			<ul>
				<li class="skill-name" >
					Git / Spark / Hadoop
				</li>
				<div class="progress" data-percent="45">
					<div></div>
				</div>
			</ul>

		</div>  <!--end of skill block -->


	</div>
</div>


